
/* ########## Mobile ########## */
.imgDesk{
    display:none;
}

.imgContainer{
    width:40%;
    height: 25%;
}
.imgPhone{
    border-radius: 35%;
    height: 100%;
    width: 100%;
    box-shadow: 7px 7px 7px grey;
}
.partAboutMe{
    height: 100vh;
    text-align: center;
    background-color: black;
    
}
.partAboutMe h2 {
    color: #07648D;
    text-shadow: 1px 1px 1px white;
}

.abtContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.paragraphContainer{
    color: white;
    width: 90%;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ############## Desktop ################ */
@media screen and (min-width: 675px) {

    .abtContent {
        flex-direction: row;
    }
    .partAboutMe h2{
        font-size: 30px;
    }
    .paragraphContainer, .imgContainer{
        width: 50%;
    }
    .imgPhone{
        display: none;
    }
    .imgDesk{
        display: initial;
        width: 75%;
        height: 75%;
        box-shadow: 5px 5px 15px #07648D;
    }
    .paragraphContainer p{
        font-size: 20px;
        padding: 10px;
    }

}

