.cardsContainer{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.mobileCards{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(28,42,53);
    color: white;
}

.mobileCards:nth-child(even){
    background-color: rgb(21,29,35);
}
.mobileCards p{
    padding: 10px;
}

.mobileCards img {
    height:40%;
    width:90%;
}

@media screen and (min-width: 675px) {
    .mobileCards img {
        height:310px;
        width:591px;
    }
    .mobileCards{
        font-size: 18px;
    }
}

@media screen and (min-width: 1080px){
    .mobileCards{
        display:none;
    }
}
/* ############## SLIDES ##########################*/
.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 350px;
  }
  
  .each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }